[alias]
	br = branch
	bra = branch -a
	cm = commit
	cmm = commit -m
    co = checkout
	s = status
	ss = status -s

	l = log --oneline --graph --decorate --parents 
	la = l --all
	lo = log --oneline
    lol = lo --no-abbrev-commit

	d = diff
	ds = diff --staged
	dn = ds --name-only
	dt = difftool -y
	
	wt = worktree
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove

	tags = tag -l
	remotes = remote -v

	# List aliases.
	aliases = config --get-regexp alias

	# See .local/bin for helper subcommands
	# example custom subcommand 'stub'
	# 	git stub
[commit]
	template = /Users/bmehary/.stCommitMsg
[core]
	excludesfile = /Users/bmehary/.gitignore_global
	pager = delta
[diff]
	context = 3
	tool = p4merge 
    ; tool = vimdiff
[difftool]
	prompt = false 
	trustExitCode = false
[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[fetch]
	prune = true
[merge]
	tool = p4merge
	conflictStyle = zdiff3
[mergetool]
    keepBackup = false
	keepTemporaries = false
	prompt = false
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
    trustExitCode = false
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[push]
    default = simple
	autoSetupRemote = true
[user]
	name = Bllen Mehary
	email = 
[delta]
    dark = true             # set 'dark = true' or 'light = true' or omit for auto-detection
	navigate = true         # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true
[interactive]
	diffFilter = delta --color-only
