[alias]
	br = branch
	bra = branch -a
	cm = commit -m 
    co = checkout
	s = status -s

	l = log --oneline 

	d = diff
	ds = diff --staged
	dt = difftool -y
	
	wt = worktree
	wta = worktree add
	wtl = worktree list

	tags = tag -l
	remotes = remote -v

	# List aliases.
	aliases = config --get-regexp alias

	# See .local/bin for helper subcommands
	# example custom subcommand 'stub'
	# 	git stub
[commit]
	template = /Users/bmehary/.stCommitMsg
[core]
	excludesfile = /Users/bmehary/.gitignore_global
[diff]
    tool = p4merge
[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[fetch]
	prune = true
[merge]
	tool = p4merge
[mergetool]
    keepBackup = false
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
    trustExitCode = false
    keepBackup = false
	keepTemporaries = false
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[push]
    default = simple
	autoSetupRemote = true
[user]
	name = Bllen Mehary
	email = 
