
# Configuration file for GNU Readline
# https://tiswww.case.edu/php/chet/readline/rltop.html

# On macos, it uses editline (~/.editrc) instead of readline

# To move ~/.inputrc to a different location: https://tiswww.cwru.edu/php/chet/readline/rluserman.html#Readline-Init-File


# Uncomment this line to import from `/etc/inputrc`
# include /etc/inputrc